:root {
    // colors
    --primary-color: #663128;
    --accent-color:  #F3CE5E;
    --secondary-color: #FFFFFF;
    --contact-text-color: #333333;
    --section-title-color: #7C4032;
    --input-field-color: #E6AF99;
    --footer-bottom-color: #55352D;
    --bcg-color: #FEF4DE;

    // font-size
    --xs: 14px;
    --s: 16px;
    --m: 18px;
    --l: 58px;
    --xl: 64px;
    --xxl: 115px;

    // indents
    --max-width: 1920px;
    --min-width: 1024px;
}

// Animation
$fill: ease-out;